.footer{

    font-family: 'Open Sans';

    &__credits{
        color: $color-base-transparent;
        display: flex;
        justify-content: center;
        margin: 20px;

        &--line1{
            padding: 10px;

            @include media-q(xs) {
                padding: 0;
            }
        }

        &--line2{
            padding: 10px;
            border-left: 1px solid;

            @include media-q(xs) {
                border: none;
                padding: 0;
            }
        }

        &--line3{
            padding: 10px;
            border-left: 1px solid ;

            @include media-q(xs) {
                border: none;
                padding: 0;
            }
        }

        &--link{
            color: $color-base-transparent;
            text-decoration: underline;

            &:hover{
                color: lighten($color-base-grey, 30);
            }
        }

        @include media-q(xs) {
            flex-direction: column;
            text-align: center;
        }
    }
}
