.content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10%;

    .tabs {

        display: flex;
        flex-direction: row;
        font-family: 'Open Sans';
        justify-content: center;
        align-items: center;
        max-width: 1100px;
        flex-wrap: wrap;

        &__icon{
            font-size: 50px;
            color: white;
            padding: 20px;
            cursor: pointer;
            z-index: 1;

            &--twitter{
                opacity: 0.5;
                padding: 20px;
                padding-top: 70px;
                display: flex;
                align-items: flex-end;

                &:hover{
                    color: white;
                    opacity: 1;
                }

                @include media-q() {
                    padding: 0;
                    padding-left: 20px;
                }

            }

            @include media-q(xs) {
                font-size: 20px;
                padding: 10px;
            }
        }

        @include media-q() {
            max-width: 700px;
        }

        @include media-q(xs) {
            max-width: 300px;
        }

    }

    & .input-tab {
        display: none;

    }

    & label {
        display: block;
        padding: 5px 10px;
        cursor: pointer;
        opacity: 0.5;
        padding-top:50px;

        &:hover{
            color: white;
            opacity: 1;
        }

        @include media-q() {
            padding: 0;
        }
    }

    input:checked + label {
        opacity: 1;
        cursor: pointer;

        &:checked{
            color: white;
            opacity: 1;

            }
        }


    .tab {
        position: relative;
        display: none;

        @include media-q(xs) {
            display: block;
            width: 100%;
        }
    }

    @for $i from 1 through 4 {
        .tabs input:nth-of-type(#{$i}):checked ~ .tab:nth-of-type(#{$i}) {
            display: block;

            &:after {
                content: '';
                position: absolute;
                border-bottom: 15px solid white;
                border-left: 15px solid transparent;
                border-right: 15px solid transparent;
                top: -15px;
                transform: translateX(100%);
                left: calc(30% + #{($i - 1) * 10%});
            }
        }
    }
}
