.content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10%;

.tabs {

    display: flex;
    flex-direction: row;
    font-family: 'Open Sans';
    justify-content: center;
    align-items: center;
    max-width: 1100px;
    flex-wrap: wrap;

    &__icon{
        font-size: 50px;
        color: white;
        padding: 20px;
        cursor: pointer;
        z-index: 1;

        &--twitter{
        opacity: 0.5;

            &:hover{
                color: white;
                opacity: 1;
            }
        }

        @include media-q(xs) {
            font-size: 20px;
            padding: 10px;
        }
    }

    @include media-q() {
        max-width: 700px;
    }

    @include media-q(xs) {
        max-width: 300px;
    }

}

.input-tab {
  display: none;
}

.label-tab {
  display: block;
  padding: 5px 10px;
  cursor: pointer;
  opacity: 0.5;

  &:hover{
      color: white;
      opacity: 1;
  }


}

.tabs input:checked + label {
    //color: white;
    opacity: 1;
    cursor: pointer;



    &:checked{
        color: white;
        opacity: 1;
    }

}

.tabs .tab {
    display: none;

    @include media-q(xs) {
        display: block;
        width: 100%;
    }

}

.tabs input:nth-of-type(1):checked ~ .tab:nth-of-type(1),
.tabs input:nth-of-type(2):checked ~ .tab:nth-of-type(2),
.tabs input:nth-of-type(3):checked ~ .tab:nth-of-type(3) {
  display: block;
}

/*body {
  width: 70px;
  margin: 20px auto;
}*/
}
