*, *:after, *:before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul, nav, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

body{
    background-image: url(/images/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

img {
    display: block;
    max-width: 100%;
}

input, textarea {
    background-color: #f4f4f4;
    font-family: 'Open Sans';
    color: #777777;
    padding-left: 5px;

}
